---
import Layout from "../layouts/Layout.astro";
import MainContent from "../layouts/MainContent.astro";
---

<Layout title='Hello to My Portfolio'>
	<slot slot='main'>
		<MainContent isFullSpan >
				<p class="p-5">
					Welcome to Astro! This is a simple example of a static site built with
					Astro. You can find the source code for this site on{' '}
				</p>
		</MainContent>
	</slot>
</Layout>
