---
import CurrentRouteViewer from "../components/CurrentRouteViewer.astro";
import SizedBox from "../components/SizedBox.astro";
import Layout from "../layouts/Layout.astro";
import MainContent from "../layouts/MainContent.astro";
import SubHeader from "../layouts/SubHeader.astro";
---

<Layout title='Hello to My Portfolio'>
	<slot slot='sub-header'>
		<SubHeader>
			<SizedBox classes="px-4 flex items-center text-lg text-title font-semibold">
				<CurrentRouteViewer/>
			</SizedBox>
		</SubHeader>
	</slot>
	<slot slot='main'>
		<MainContent >
			<SizedBox/>
				<p class="p-5">
					Welcome to Astro! This is a simple example of a static site built with
					Astro. You can find the source code for this site on{' '}
				</p>
		</MainContent>
	</slot>
	<slot slot='sub-header'>
		<SubHeader isLeft={false}>
			<h1>Welcome to Astro</h1>
			<p>Build faster websites with less client-side JavaScript</p>
		</SubHeader>
	</slot>
</Layout>