---
import prefixWith from '../utils/prefixWith'


const {pathname} = Astro.url

const cleanedPathname = pathname.slice(1)

const prefixedPathname = prefixWith(cleanedPathname, '//')

---


<span>{prefixedPathname}</span>