---
import prefixWith from "../utils/prefixWith";

interface Props {
  linkLabel: string;
  linkRef : string;
  isPadding? : boolean;
}
const {linkRef  , linkLabel , isPadding = true}  = Astro.props

const pathname = new URL(Astro.request.url).pathname;

const currentPath = pathname.slice(1);

const isActive = currentPath === linkRef;
---


<a class:list={["h-full flex items-center" , {'text-blue-500' : isActive } , {"px-10" : isPadding}]} href={`/${linkRef}`}>{prefixWith(linkLabel , '_')}</a>