---
import prefixWith from "../utils/prefixWith";

interface Props {
  linkLabel: string;
  linkRef : string;
  isPadding? : boolean;
  canHighlight? : boolean;
}
const { linkRef  , linkLabel , isPadding = true , canHighlight = true }  = Astro.props
const { pathname } = Astro.url;

const isActive = linkRef === pathname || linkRef === pathname.replace(/\/$/, '');


---

<a class:list={["h-full flex items-center" , {'text-blue-500' : isActive && canHighlight } , {"px-10" : isPadding}]} href={linkRef}>{prefixWith(linkLabel , '_')}</a>