---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import MainHeader from "./MainHeader.astro";
---

<!doctype html>
<html lang="en" dir="auto">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />

	</head>
	<body class="grid grid-rows-layout grid-cols-layout h-screen text-regular-text " style={{
		background : "linear-gradient(305deg,#1b2733 -7.45624546750166%, rgb(4, 6, 10) 58.520381%)"
	}}> 
		<MainHeader/>
		<slot name="sub-header"/>
		<slot name="main">
	</body>
</html>


