---
interface Props {
	title: string;
}

const { title } = Astro.props;
import MainHeader from './MainHeader.astro'
---

<!doctype html>
<html lang="en" dir="auto">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="grid grid-rows-layout grid-cols-layout h-screen bg-secondary"> 
		<MainHeader/>
		<slot name="sub-header"/>
		<slot name="main">
	</body>
</html>
