---
interface Props {
	title: string;
}

const { title } = Astro.props;
import MainHeader from './MainHeader.astro'
import { ViewTransitions } from 'astro:transitions';

---

<!doctype html>
<html lang="en" dir="auto">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />

	</head>
	<body class="grid grid-rows-layout grid-cols-layout h-screen " style={{
		background : "radial-gradient(circle at center, #1D2B3B, #0F161E)"
	}}> 
		<MainHeader/>
		<slot name="sub-header"/>
		<slot name="main">
	</body>
</html>
