---
import PageLink from '../components/PageLink.astro'
---

<header class="col-span-full bg-primary row-start-1 bg-regal-blue row-span-1 border-separator border-b text-text flex justify-between ps-5">

        <h3 class="text-xl font-bold uppercase tracking-widest">
            <PageLink linkLabel='kerolous amged' linkRef='/'  isPadding={false} canHighlight={false} />
        </h3>
        <nav class="text-md self-stretch flex">
            <menu class="flex">
                <li class="border-r border-l border-separator ">
                    <PageLink linkLabel='hello' linkRef='/'  />
                </li>
                <li class="border-r border-l border-separator ">
                    <PageLink linkLabel='projects' linkRef='/projects'  />
                </li>
                <li class="border-r border-l border-separator ">
                    <PageLink linkLabel='blog' linkRef='/blog'  />
                </li>
              
            </menu>
        </nav>
        <div class="border-l border-separator">
            <PageLink linkLabel='contact-me' linkRef='/contact-me'  />
        </div>
</header>