---
import prefixWith from '../utils/prefixWith.ts'

const {pathname} = Astro.url

const cleanedPathname = pathname.slice(1)

const prefixedPathname = prefixWith(cleanedPathname, '//')
---

<header class="row-start-2 row-end-3 col-start-1 col-end-2 border-r border-separator">
    <div class="border-b border-separator px-4 h-10 flex items-center text-lg text-title font-semibold">
        {prefixedPathname}
    </div>
    <slot/>
</header>